body{
    background-color: rgb(84, 194, 238);
}
#cabecera{
    background-color: rgb(138, 11, 163);
    border: 12px, solid black;
    padding: 30px;
}
#pie{
    background-color: rgb(35, 35, 156);
    border: 12px, solid blueviolet;
    padding: 10px;
    text-align: center;
}
#art1{
    text-align: center;  
}