.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

img.google{
    width:50px;
    align-items:center;
    justify-content:center;
}